form.oktavia_form {
    position: relative;
    display: block;
    width: 240px;
    height: 25px;
}

input.oktavia_search {
    -webkit-appearance: searchfield;
    -webkit-user-select: text;
    cursor: auto;
    background-color: white;
    color: black;
    line-height: normal;
    display: inline-block;
    padding: 1px;
    text-align: start;
    margin: 2px 0px 2px 0px;
    padding: 1px;
}

div.oktavia_searchresult_box {
    display: none;
    position: absolute;
    width: 500px;
    padding: 10px;
    right: 10px;
    background-color: #ffffff;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 3px 3px 5px 5px #b5b2b2;
    box-shadow: 3px 3px 5px 5px #b5b2b2;
    opacity: 0.95;
    z-index: 100000;
}

div.oktavia_close_search_box {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #666;
}

div.oktavia_close_search_box:hover {
    background-color: #d1e8ff;
    border: 1px solid gray;
}

div.oktavia_close_search_box:active {
    background-color: #b4c8db;
    border: 1px solid gray;
}


div.oktavia_searchresult_summary {
    color: #444;
}

div.oktavia_searchresult .entry {
    margin: 10px 10px 10px 10px;
    color: black;
}

div.oktavia_searchresult .entry .title {
    font-size: normal;
}

div.oktavia_searchresult .entry .title a:link {
    color: #0000EE;
    text-decoration: underline;
}

div.oktavia_searchresult .entry .title a:visited {
    color: #551A8B;
    text-decoration: underline;
}

div.oktavia_searchresult .entry .title a:hover {
}

div.oktavia_searchresult .entry .title a:active {
    color: #FF0000;
    text-decoration: underline;
}

div.oktavia_searchresult .entry .url {
    font-size: 14px!important;
    color: #093;
    font-style: normal;
    font-family: arial,sans-serif;
}

div.oktavia_searchresult .entry .resultcontent {
    font-size: small;
    font-family: arial,sans-serif;
    color: #222;
}

div.oktavia_searchresult .entry .resultcontent .hit {
    font-weight: bolder;
    text-decoration: underline;
}

div.oktavia_searchresult .proposal {
    margin: 10px 10px 10px 10px;
    color: #222;
    font-size: small;
    font-family: arial,sans-serif;
}

div.oktavia_searchresult .proposal .option {
    background-color: #e8f4ff;
    border-bottom: 1px solid blue;
}

div.oktavia_searchresult .proposal .option:hover {
    background-color: #d1e8ff;
}

div.oktavia_searchresult .proposal .option:active {
    background-color: #b4c8db;
}

div.oktavia_searchresult_nav span.leader {
    color: #228;
}

div.oktavia_searchresult_nav span.page {
    background-color: #ffffff;
    border: 1px solid #888888;
    padding: 5px;
    margin: 5px;
    color: #222;
}

div.oktavia_searchresult_nav span.page:hover {
    background-color: #d1e8ff;
    border: 1px solid #7d98ff;
}

div.oktavia_searchresult_nav span.page:active {
    background-color: #b4c8db;
    border: 1px solid #6c83db;
}

div.oktavia_searchresult_nav span.selected {
    background-color: #b4c8db;
    border: 1px solid #6c83db;
}

div.oktavia_searchresult_nav span.selected:hover {
    background-color: #b4c8db;
    border: 1px solid #6c83db;
}

div.oktavia_searchresult_nav span.selected:active {
    background-color: #b4c8db;
    border: 1px solid #6c83db;
}

div.oktavia_searchresult_box span.pr {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #555;
}

.highlighted {
    background-color: #fbe54e;
}
